extends layout

include _includes/sharedHTMLfunctions


block content
	.container
		.row.page-header
			.col-xs-6.col-sm-8
				h1= pageHeader.title
					small &nbsp; #{pageHeader.strapline}
		.row
			.col-xs-10.col-sm-6.col-md-6.col-lg-4
				.error= message
				each location in locations
					.row.list-group
						a.col-xs-12.list-group-item(href="/location/#{location._id}")
							p.lead #{location.name}
								small &nbsp;
									+outputRating(location.rating)
								span.badge.pull-right.badge-default= location.distance
							p.address= location.address
							p
								each facility in location.facilities
									span.label.label-warning= facility	
									&nbsp;
				&nbsp
			.col-xs-0.col-xs-1
			// /.col																	
			.col-xs-12.col-sm-4
				p.lead= sidebar 
				.btn-circle.btn-xl Boing
	// /.container

